.vertical-slider {
  background-color: #4f8894;
  padding:48px 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.texts-holder{
  width:80%;
}
.header-vertical {
  color: white;
  text-align: end;
  font-weight: 900;
  text-align: right;
}
.text-vertical {
  color: white;
  text-align: end;
  font-weight: 600;
  text-align: right;
  width: 100% !important;
}
.date-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-text{
  text-align: center;
}
.date {
  width: 80px;
  height: 80px;
  border: 5px solid white;
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
}
.date h3 {
  font-size: 16px;
  font-weight: 900;
  margin:0;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .vertical-slider{
    padding:36ox 0;
  }
  .texts-holder{
    width:100%
  }
}