.form-holder{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.form-contorol-holder{
    width: 80% !important;
}
