.worker-wrapper{
    display: flex;
    align-items: center;
 

}
.worker-wrapper-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 40px;
}
.blue-img{
    height: 100px;
    width: 15px;
    background-color: #6AA3AE;
}
.roshasubteam-holder{
   width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.roshasubteam-item-holder{
    padding:20px ;
}
.title-roshasubteam{

}
.seminar-about{
    margin-top: 50px;
}
.roshateam-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-roshasubteam{
display: flex;
justify-content: center;
}
.title-roshasubteam h3{
    text-align: center;
}
.roshateam{
margin-right: 100px ;
}
.roshasubteam-item-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.roshasubteam-info-holder{
    text-align: center;
}
.roshasubteam-info-holder p{
    max-width: 300px;
}