@font-face {
    font-family: 'Vazir-FD';
    src: url('./Assets/fonts/Vazir-FD.eot?#') format('eot'),
        url('./Assets/fonts/Vazir-FD.ttf') format('truetype'),
        url('./Assets/fonts/Vazir-FD.woff2') format('woff2'),
        url('./Assets/fonts/Vazir-FD.woff') format('woff');
}
body {
    font-family: 'Vazir-FD';
    overflow-x: hidden;
    margin: 0;
    display: initial;
}